<!--The content below is only a placeholder and can be replaced.-->
<!-- <div id="rectangle7">
  <div id="image1" background="/assets/images/mainbg.jpg">
    <div id="group1">
      <div id="nemobox">
        <div id="group2">
        <div id="fill1">N</div>
        <div id="fill4">E</div>
        <div id="fill7">M</div>
        <div id="fill10">O</div>
      </div>
    </div>
    <div id="opportunities">Sea of opportunities</div>
  </div>
  <div id=linkedinbox>
    <button id="LinkedIn" (click) = "Trylogin">LinkedIn Sign Up</button>
  </div>
</div> -->

<!-- <button id="loginbutton" (click) = "tryLogin">LinkedIn</button> -->

<router-outlet></router-outlet>
