/* .accountInput {
position: absolute;
left: 8.33%;
right: 8.33%;

background: #EDEAEA;
border-radius: 0.75px;
}

#accountname {
  top: 54.66%;
  bottom: 45.22%;
} */

/* #accountmail {
  top: 54.66%;
  bottom: 45.22%;
}

#accountrole {
  top: 54.66%;
  bottom: 45.22%;
} */

/* input {
position: absolute;
height: 24px;
left: 8.33%;
right: 62.5%;
top: calc(50% - 24px/3 - 120.1px);
border: none;
background: #FFF;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
letter-spacing: 0.15px;
color: #363636;
color: #000;
}

input:focus {
  outline: none;
} */

/* .lineBreaker {
position: absolute;
left: 8.33%;
right: 8.33%;
top: 36.27%;
bottom: 63.6%;

background: #EDEAEA;
border-radius: 0.75px;
} */

/* #accountname {
  top: 400;
}
#accountmail {
  top: 600;
}

#accountrole {
  top: 700;
} */
